{% extends 'base.html.twig' %}

{% block body %}
    <h1>ポケモン検索</h1>
    {{ form_start(form) }}
    {{ form_row(form.pokemonName) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% if posts|length > 0  %}
        <img src="{{ image }}" alt="{{ posts.name }} Front Image"><br>
        名前：{{ posts.name }}
    {% endif %}
{% endblock %}