{% extends 'base.html.twig' %}

{% block body %}
    <h1>ポケモン検索</h1>
    {{ form_start(form) }}
    {{ form_row(form.pokemonName) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% if posts|length > 0  %}
        ・名前：{{ posts.name }}<br>
        ・高さ：{{ posts.height }}<br>
        ・重さ{{ posts.weight }}<br>
    {% endif %}
{% endblock %}